[settings]
line_length = 79
multi_line_output = 3
include_trailing_comma = True
force_grid_wrap = 0
use_parentheses = True
known_first_party = api, core, recipes, users, foodgram_backend
src_paths = backend
skip = migrations, __pycache__, .mypy_cache, venv, env, .venv, .env, tests, frontend, nginx
skip_glob = *.json, *.md, *.sh, *.yaml, *.yml, *.html
